body{
    background-color: #212121;
    height: 1000px;
}


.login-section{
    width: 500px;
    background-color:#212121;
    height: 500px;
    margin-left: 10%;
    margin-top:50px;
    float: right;
    margin-right: 15%;
   
  
}

.form-field{
    background-color:#424242;
    width: 500px;
    height: 80px;
    margin-top: 30px
}

.comment-field{
    background-color:#424242;
    width: 500px;
    
    
    margin-top: 30px
}
.comment-message{
    font-size: large;
}

.label{
    color:white;
    padding: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:small;
    


}

.input{
    background-color:#424242;
    border:none;
    margin-top: 10px;
    width: 350px;
    font-size: large;
    outline-style: none;
    padding: 15px;


}
.upload-file{
    margin-top: 20px;

}

.submit-file{
    width: 100px;
    height: 40px;
    background-color: #424242;
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    border-radius: 5px;
    border-style: none;
    outline-style: none;
}

.submit-field{
    margin-top: 30px;
   
   
}
.submit-message{
    width: 500px;
    height:60px;
    outline-style: none;
    border-style: none;
    border-radius: 5px;
    
    
}

.handles{
    background-color: #212121;
    width: 400px;
    height: 200px;
    text-align:left;
    font-size: medium;
    color: white;
    margin-left: 15%;
    margin-top: 50px;
    float: left;

}

.handlesh1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.phandles{
    font-size:x-large;
    font-family: Arial, Helvetica, sans-serif;
}

.link-margin{
    margin-left: 30px;
    margin-right: 30px;
}